---
title: Color System Guide
layout: base
---

{% include section-start.html %}
<h1 class="h1 color-primary-500">Color System Practical Guide</h1>
<div class="flex flex-1 flex-row gap-base">
    <div class="p-xs bg-fill-contrast-100 gradient-tint-50 shadow-4 color-text-contrast-600 rounded" title="Colors"><span class="block icon before:block icon-md" style="--icon-src: var(--ads-colors)"></span></div>
    <div class="p-xs bg-fill-contrast-100 gradient-tint-50 shadow-4 color-text-contrast-600 rounded" title="Spacing"><span class="block icon before:block icon-md" style="--icon-src: var(--ads-spacing)"></span></div>
    <div class="p-xs bg-fill-contrast-100 gradient-tint-50 shadow-4 color-text-contrast-600 rounded" title="Typography"><span class="block icon before:block icon-md" style="--icon-src: var(--ads-typography)"></span></div>
    <div class="p-xs bg-fill-contrast-100 gradient-tint-50 shadow-4 color-text-contrast-600 rounded" title="Radii"><span class="block icon before:block icon-md" style="--icon-src: var(--ads-radii)"></span></div>
    <div class="p-xs bg-fill-contrast-100 gradient-tint-50 shadow-4 color-text-contrast-600 rounded" title="Elevation"><span class="block icon before:block icon-md" style="--icon-src: var(--ads-elevation)"></span></div>
</div>
<ul class="flex flex-1 flex-row flex-wrap">
    <li>
        <a href="./index.html" class="block rounded px-sm py-minor-xs hover:decoration-none hover:bg-alt-base-100">TailwindCSS</a>
    </li>
    <li>
        <a href="./index.html" class="block rounded px-sm py-minor-xs hover:decoration-none hover:bg-alt-base-100">CLI Theme Generator</a>
    </li>
    <li>
        <a href="./index.html" class="block rounded px-sm py-minor-xs hover:decoration-none hover:bg-alt-base-100">Figma Theme Generator</a>
    </li>
    <li class="flex flex-1 justify-end">
        <a href="./color-system-guide.html" class="block rounded px-sm py-minor-xs hover:decoration-none hover:bg-alt-base-100 bg-primary-100">Color System Practical Guide</a>
    </li>
</ul>
{% include section-end.html %}

{% include section-start.html title="Tiles"%}
<div class="flex flex-row gap-base">
    <div class="flex flex-col flex-1 py-8 ">
        <span class="flex flex-row items-center justify-end font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">100</span>
            <span class="px-xs2 py-xs4 bg-alt-base-200 rounded-sm">100</span>
        </span>
        <span class="flex flex-row items-center justify-end font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">200</span>
            <span class="px-xs2 py-xs4 bg-alt-base-200 rounded-sm">200</span>
        </span>
        <span class="flex flex-row items-center justify-end font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">300</span>
            <span class="px-xs2 py-xs4 bg-alt-base-200 rounded-sm">300</span>
        </span>
        <span class="flex flex-row items-center justify-end font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">400</span>
            <span class="px-xs2 py-xs4 bg-alt-base-200 rounded-sm">400</span>
        </span>
        <span class="flex flex-row items-center justify-end font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">500</span>
            <span class="px-xs2 py-xs4 bg-alt-base-200 rounded-sm">500</span>
        </span>
        <span class="flex flex-row items-center justify-end font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">600</span>
            <span class="px-xs2 py-xs4 bg-alt-base-200 rounded-sm">600</span>
        </span>
    </div>
    <div class="flex flex-col pb-16">
        <div class="layers h-9">
            <svg width="160" height="100" viewBox="0 0 160 100" fill="var(--primary-200)" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.5199 55.3121C-1.1733 52.3788 -1.1733 47.6231 3.5199 44.6899L71.5022 2.20091C76.1954 -0.732334 83.8046 -0.732337 88.4978 2.20091L156.48 44.6899C161.173 47.6231 161.173 52.3788 156.48 55.3121L88.4978 97.801C83.8046 100.734 76.1954 100.734 71.5022 97.801L3.5199 55.3121Z"/>
            </svg>
        </div>
        <div class="layers h-9">
            <svg width="160" height="100" viewBox="0 0 160 100" fill="var(--primary-200)" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.5199 55.3121C-1.1733 52.3788 -1.1733 47.6231 3.5199 44.6899L71.5022 2.20091C76.1954 -0.732334 83.8046 -0.732337 88.4978 2.20091L156.48 44.6899C161.173 47.6231 161.173 52.3788 156.48 55.3121L88.4978 97.801C83.8046 100.734 76.1954 100.734 71.5022 97.801L3.5199 55.3121Z"/>
            </svg>
        </div>
        <div class="layers h-9">
            <svg width="160" height="100" viewBox="0 0 160 100" fill="var(--primary-200)" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.5199 55.3121C-1.1733 52.3788 -1.1733 47.6231 3.5199 44.6899L71.5022 2.20091C76.1954 -0.732334 83.8046 -0.732337 88.4978 2.20091L156.48 44.6899C161.173 47.6231 161.173 52.3788 156.48 55.3121L88.4978 97.801C83.8046 100.734 76.1954 100.734 71.5022 97.801L3.5199 55.3121Z"/>
            </svg>
        </div>
        <div class="layers h-9">
            <svg width="160" height="100" viewBox="0 0 160 100" fill="var(--primary-200)" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.5199 55.3121C-1.1733 52.3788 -1.1733 47.6231 3.5199 44.6899L71.5022 2.20091C76.1954 -0.732334 83.8046 -0.732337 88.4978 2.20091L156.48 44.6899C161.173 47.6231 161.173 52.3788 156.48 55.3121L88.4978 97.801C83.8046 100.734 76.1954 100.734 71.5022 97.801L3.5199 55.3121Z"/>
            </svg>
        </div>
        <div class="layers h-9">
            <svg width="160" height="100" viewBox="0 0 160 100" fill="var(--primary-200)" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.5199 55.3121C-1.1733 52.3788 -1.1733 47.6231 3.5199 44.6899L71.5022 2.20091C76.1954 -0.732334 83.8046 -0.732337 88.4978 2.20091L156.48 44.6899C161.173 47.6231 161.173 52.3788 156.48 55.3121L88.4978 97.801C83.8046 100.734 76.1954 100.734 71.5022 97.801L3.5199 55.3121Z"/>
            </svg>
        </div>
        <div class="layers h-9">
            <svg width="160" height="100" viewBox="0 0 160 100" fill="var(--primary-200)" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.5199 55.3121C-1.1733 52.3788 -1.1733 47.6231 3.5199 44.6899L71.5022 2.20091C76.1954 -0.732334 83.8046 -0.732337 88.4978 2.20091L156.48 44.6899C161.173 47.6231 161.173 52.3788 156.48 55.3121L88.4978 97.801C83.8046 100.734 76.1954 100.734 71.5022 97.801L3.5199 55.3121Z"/>
            </svg>
        </div>
    </div>
    <div class="flex flex-col flex-1 py-8 ">
        <span class="flex flex-row items-center justify-start font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">100</span>
        </span>
        <span class="flex flex-row items-center justify-start font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">200</span>
        </span>
        <span class="flex flex-row items-center justify-start font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">300</span>
        </span>
        <span class="flex flex-row items-center justify-start font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">400</span>
        </span>
        <span class="flex flex-row items-center justify-start font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">500</span>
        </span>
        <span class="flex flex-row items-center justify-start font-mono text-sm gap-md h-9">
            <span class="px-xs2 py-xs4">600</span>
        </span>
    </div>

</div>
{% include section-end.html %}