---
title: Home Page
layout: base
---

{% include section-start.html %}
<h1 class="h1 color-primary-500">Source Design System Foundation</h1>
<div class="flex flex-1 flex-row gap-base">
    <div class="p-xs bg-fill-contrast-100 gradient-tint-50 shadow-4 color-text-contrast-600 rounded" title="Colors"><span class="block icon before:block icon-md" style="--icon-src: var(--ads-colors)"></span></div>
    <div class="p-xs bg-fill-contrast-100 gradient-tint-50 shadow-4 color-text-contrast-600 rounded" title="Spacing"><span class="block icon before:block icon-md" style="--icon-src: var(--ads-spacing)"></span></div>
    <div class="p-xs bg-fill-contrast-100 gradient-tint-50 shadow-4 color-text-contrast-600 rounded" title="Typography"><span class="block icon before:block icon-md" style="--icon-src: var(--ads-typography)"></span></div>
    <div class="p-xs bg-fill-contrast-100 gradient-tint-50 shadow-4 color-text-contrast-600 rounded" title="Radii"><span class="block icon before:block icon-md" style="--icon-src: var(--ads-radii)"></span></div>
    <div class="p-xs bg-fill-contrast-100 gradient-tint-50 shadow-4 color-text-contrast-600 rounded" title="Elevation"><span class="block icon before:block icon-md" style="--icon-src: var(--ads-elevation)"></span></div>
</div>
<ul class="flex flex-1 flex-row flex-wrap">
    <li>
        <a href="./index.html" class="block rounded px-sm py-minor-xs hover:decoration-none bg-primary-100">TailwindCSS</a>
    </li>
    <li>
        <a href="./index.html" class="block rounded px-sm py-minor-xs hover:decoration-none hover:bg-alt-base-100">CLI Theme Generator</a>
    </li>
    <li>
        <a href="./index.html" class="block rounded px-sm py-minor-xs hover:decoration-none hover:bg-alt-base-100">Figma Theme Generator</a>
    </li>
    <li class="flex flex-1 justify-end">
        <a href="./color-system-guide.html" class="block rounded px-sm py-minor-xs hover:decoration-none hover:bg-alt-base-100">Color System Practical Guide</a>
    </li>
</ul>
{% include section-end.html %}

{% include section-start.html title='Get started' %}
{% include home/get-started.html %}
{% include section-end.html %}

{% include section-start.html title='Color System' %}
{% include home/color-system.html %}
{% include section-end.html %}

{% include section-start.html title='Color Adjustments' %}
{% include home/color-adjustments.html %}
{% include section-end.html %}

{% include section-start.html title='Gradients' %}
{% include home/gradients.html %}
{% include section-end.html %}

{% include section-start.html title='Shadows' %}
{% include home/shadows.html %}
{% include section-end.html %}

{% include section-start.html title='Spacing' %}
{% include home/spacing.html %}
{% include section-end.html %}

{% include section-start.html title='Typography' %}
{% include home/typography.html %}
{% include section-end.html %}

{% include section-start.html title='Radii' %}
{% include home/radii.html %}
{% include section-end.html %}

{% include section-start.html title='Icons' %}
{% include home/icons.html %}
{% include section-end.html %}