<div class="flex flex-row text-xs color-text-base-500 font-mono rounded overflow-hidden border-outline-alt-base-100 {{ include.class }}">
    <div class="{{ include.color }}-100 flex-1 py-md text-center" title="{{ include.color }}-100">100</div>
    <div class="{{ include.color }}-200 flex-1 py-md text-center" title="{{ include.color }}-200">200</div>
    <div class="{{ include.color }}-300 flex-1 py-md text-center" title="{{ include.color }}-300">300</div>
    <div class="{{ include.color }}-400 flex-1 py-md text-center" title="{{ include.color }}-400">400</div>
    <div class="{{ include.color }}-500 flex-1 py-md text-center" title="{{ include.color }}-500">500</div>
    <div class="{{ include.color }}-600 flex-1 py-md text-center" title="{{ include.color }}-600">600</div>
</div>