<!doctype html>
<html data-color="blue" data-typescale="minor-third" data-theme="light" data-radii="base" data-spacing="base" data-typography="base" data-icons="base">

<head>
    <meta charset="UTF-8">
    <title>Source Foundation / {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/main.css" rel="stylesheet">
    <link href="./styles/default.css" rel="stylesheet">
    <!-- For all browsers -->
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/source-icon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/source-icon-16.png">

    <!-- For Google and Android -->
    <link rel="icon" type="image/png" sizes="48x48" href="./favicon/source-icon-48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./favicon/source-icon-192.png">

    <!-- For iPad -->
    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="./favicon/source-icon-167.png">
    <!-- For iPhone -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="./favicon/source-icon-180.png">
</head>

<body>

<div class="grid-layout">

<div class="grid-left xl:hidden sticky-panel sticky z-10 bottom-xs3">
    <div class="flex px-2 py-2 bg-fill-base-100 tint-20 bg-blend-overlay rounded-lg border border-alt-base-300 bg-clip-padding flex-row justify-between items-center gap-md shadow-5 shadow-utility-shade-200">
        <button class="button-toolbar" id="openOptionsPanelButton">
            <span class="icon icon-sliders"></span>
            <span class="color-text-base-500">Customize</span>
        </button>
        <h1 class="text-md font-bold m-0 hidden md:block">{{ page.title }}</h1>
        <button class="button-toolbar" id="openTOCButton">
            <span class="icon icon-list"></span>
            <span class="color-text-base-500">On this page</span>
        </button>
    </div>
</div>

{% include options-panel.html class="grid-left hidden xl:flex" %}


{% include section-start.html class="grid-navs bg-primary-400 color-text-contrast-600 gradient-shade-60 gradient-angle-0" %}
<div class="flex flex-row gap-sm items-center justify-start opacity-90">
    <svg width="28" height="28" viewBox="0 0 83 83" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.52839 36.9357L7.29304 37.1711C2.62338 41.8408 0 48.1742 0 54.7781V54.8396C0 49.1096 4.64505 44.4646 10.375 44.4646L14.8214 44.4641L24.486 44.464C27.788 44.464 30.9547 43.1523 33.2895 40.8175L40.8179 33.2891C43.1527 30.9543 44.4644 27.7876 44.4644 24.4856L44.4641 14.8214V24.4551C44.4641 27.32 42.1416 29.6426 39.2766 29.6426H29.643L35.5714 29.6427H25.1353C18.5315 29.6427 12.1981 32.2661 7.52839 36.9357Z" class="fill-fill-base-100"/>
        <path d="M59.2856 14.8214L69.1296 5.3561C71.1497 3.4137 69.7748 0 66.9723 0H54.7781C48.1742 0 41.8408 2.62338 37.1711 7.29303L36.9358 7.52839C32.2661 12.198 29.6427 18.5315 29.6427 25.1353L29.643 25.1961C29.643 19.4662 34.288 14.8211 40.018 14.8211L44.4641 14.8214H59.2856Z" class="fill-fill-base-100"/>
        <g opacity="0.45">
            <path d="M44.4641 24.4553V14.8217L40.018 14.8214C34.288 14.8214 29.643 19.4665 29.643 25.1964V29.6428H39.2766C42.1416 29.6428 44.4641 27.3203 44.4641 24.4553Z" class="fill-fill-base-100"/>
            <path d="M14.8214 45.5142V44.4644L10.375 44.4648C4.64504 44.4648 0 49.1099 0 54.8398V66.4003V66.5935C0 69.3664 3.3526 70.7551 5.31336 68.7943L14.8214 59.2863V45.5142Z" class="fill-fill-base-100"/>
        </g>
        <path d="M75.4716 46.0643L75.707 45.8289C80.3766 41.1592 83 34.8258 83 28.2219V28.1604C83 33.8904 78.355 38.5354 72.625 38.5354L68.1786 38.5359L58.514 38.536C55.212 38.536 52.0453 39.8477 49.7105 42.1825L42.1821 49.7109C39.8473 52.0457 38.5356 55.2124 38.5356 58.5144L38.5359 68.1786V58.5449C38.5359 55.68 40.8584 53.3574 43.7234 53.3574H53.357L47.4286 53.3573H57.8647C64.4685 53.3573 70.8019 50.7339 75.4716 46.0643Z" class="fill-fill-base-100"/>
        <path d="M23.7144 68.1786L13.8704 77.6439C11.8503 79.5863 13.2252 83 16.0277 83H28.2219C34.8258 83 41.1592 80.3766 45.8289 75.707L46.0642 75.4716C50.7339 70.802 53.3573 64.4685 53.3573 57.8647L53.357 57.8039C53.357 63.5338 48.712 68.1789 42.982 68.1789L38.5359 68.1786H23.7144Z" class="fill-fill-base-100"/>
        <g opacity="0.45">
            <path d="M38.5359 58.5447V68.1783L42.982 68.1786C48.712 68.1786 53.357 63.5335 53.357 57.8036V53.3572H43.7234C40.8584 53.3572 38.5359 55.6797 38.5359 58.5447Z" class="fill-fill-base-100"/>
            <path d="M68.1786 37.4858V38.5356L72.625 38.5352C78.355 38.5352 83 33.8901 83 28.1602V16.5997V16.4065C83 13.6336 79.6474 12.2449 77.6866 14.2057L68.1786 23.7137V37.4858Z" class="fill-fill-base-100"/>
        </g>
    </svg>
    <span class="text-lg font-normal">Source Design System</span>
</div>
<h1 class="text-xl4 lg:text-xl5 mt-0">Foundation</h2>
{% include nav.html pages=site.html_pages title=page.title class="-my-minor-xs " %}
{% include section-end.html %}

<div class="flex-1 flex flex-col gap-md overflow-hidden grid-content fill-fill-base-100">
    {{ content | inject_anchors }}
</div>

<div class="toc sticky top-md pl-sm flex-col gap-sm w-56 pb-sm grid-right hidden xl:flex" id="TOC">
    <div class="flex flex-row justify-between">
        <h3 class="text-md font-bold">On this page</h3>
        <button class="xl:hidden button-toolbar px-xs4 py-0 self-stretch" id="closeTOCButton">
            <span class="icon icon-x"></span>
        </button>
    </div>
    <div class="flex flex-1 overflow-auto">
        {% include toc.html html=content h_min=2 h_max=3 class="toc-list" %}
    </div>
</div>

</div>


<script>
document.getElementById('openOptionsPanelButton').addEventListener('click', (e) => {
    document.getElementById('controls').classList.add('show')
})

document.getElementById('closeOptionsPanelButton').addEventListener('click', (e) => {
    document.getElementById('controls').classList.remove('show')
})
document.getElementById('openTOCButton').addEventListener('click', (e) => {
    document.getElementById('TOC').classList.add('show')
})

document.getElementById('closeTOCButton').addEventListener('click', (e) => {
    document.getElementById('TOC').classList.remove('show')
})

document.querySelectorAll('[data-theme-switch]').forEach(el => {
    el.addEventListener('click', (e) => {
        e.preventDefault();
        e.stopPropagation();
        const currentTheme = document.documentElement.dataset['theme'];
        let value = 'light';

        if (currentTheme == 'light') {
            value = 'dark-elevated'
        }

        document.documentElement.dataset['theme'] = value;
        //document.querySelector(`input[name=theme][value=${currentTheme}]`).checked = false;
        document.querySelector(`input[name=theme][value=${value}]`).checked = true;

        return false;
    })
})
</script>
</body>
</html>