<!doctype html>
<html data-theme="light" data-radii="base" data-spacing="base" data-typography="base" data-icons="base">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/main.css" rel="stylesheet">
    <link href="./styles/default.css" rel="stylesheet">
    <!-- For all browsers -->
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/source-icon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/source-icon-16.png">

    <!-- For Google and Android -->
    <link rel="icon" type="image/png" sizes="48x48" href="./favicon/source-icon-48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./favicon/source-icon-192.png">

    <!-- For iPad -->
    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="./favicon/source-icon-167.png">
    <!-- For iPhone -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="./favicon/source-icon-180.png">
</head>

<body>
{% include options-panel.html %}
<div class="flex-1 flex flex-col gap-md overflow-hidden" id="main">
{{ content }}
</div>
<script>
document.getElementById('controls').querySelectorAll('input[type=radio]').forEach(el => {
    el.addEventListener('click', (e) => {
        const name = el.name;
        const value = el.value;
        document.documentElement.dataset[name] = value;
    })
});

document.querySelectorAll('[data-theme-switch]').forEach(el => {
    el.addEventListener('click', (e) => {
        e.preventDefault();
        e.stopPropagation();
        const currentTheme = document.documentElement.dataset['theme'];
        let value = 'light';

        if (currentTheme == 'light') {
            value = 'dark-elevated'
        }

        document.documentElement.dataset['theme'] = value;
        //document.querySelector(`input[name=theme][value=${currentTheme}]`).checked = false;
        document.querySelector(`input[name=theme][value=${value}]`).checked = true;

        return false;
    })
})
</script>
</body>
</html>