<!doctype html>
<html data-theme="light" data-radii="base" data-spacing="base" data-typography="base" data-icons="base">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/main.css" rel="stylesheet">
    <link href="./styles/default.css" rel="stylesheet">
    <!-- For all browsers -->
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/source-icon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/source-icon-16.png">

    <!-- For Google and Android -->
    <link rel="icon" type="image/png" sizes="48x48" href="./favicon/source-icon-48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./favicon/source-icon-192.png">

    <!-- For iPad -->
    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="./favicon/source-icon-167.png">
    <!-- For iPhone -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="./favicon/source-icon-180.png">
</head>

<body>
{{ content }}
</body>
</html>