<h3 class="">Color opacity</h3>
<p>Color opacity is adjusted with color-mix() function</p>
<div
    class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm flex flex-col gap-base overflow-auto">
    &lt;div class="bg-opacity-{opacity} border-opacity-{opacity} color-opacity-{opacity} ..." />

    <div>
        <pre class="whitespace-pre">.bg-opacity-90 {</pre>
        <pre
            class="whitespace-pre">    background-color: color-mix(in srgb, var(--bg-color), transparent 10%);</pre>
        <pre class="whitespace-pre">}</pre>
    </div>

    <div>
        <pre class="whitespace-pre">.border-opacity-90 {</pre>
        <pre
            class="whitespace-pre">    border-color: color-mix(in srgb, var(--border-color), transparent 10%);</pre>
        <pre class="whitespace-pre">}</pre>
    </div>

    <div>
        <pre class="whitespace-pre">.color-opacity-90 {</pre>
        <pre class="whitespace-pre">    color: color-mix(in srgb, var(--text-color), transparent 10%);</pre>
        <pre class="whitespace-pre">}</pre>
    </div>
</div>
<div class="flex flex-row flex-1 rounded overflow-hidden">
    <div class="py-base bg-accent-teal-400 bg-opacity-90 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">bg-opacity-90</span>
    </div>
    <div class="py-base bg-accent-teal-400 bg-opacity-80 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">bg-opacity-80</span>
    </div>
    <div class="py-base bg-accent-teal-400 bg-opacity-70 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">bg-opacity-70</span>
    </div>
    <div class="py-base bg-accent-teal-400 bg-opacity-60 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">bg-opacity-60</span>
    </div>
    <div class="py-base bg-accent-teal-400 bg-opacity-50 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">bg-opacity-50</span>
    </div>
</div>

<div class="flex flex-row flex-1 rounded overflow-hidden">
    <div class="py-base bg-alt-base-100 color-opacity-90 flex-1 items-center justify-center flex">
        <span class="font-mono rounded-sm px-xs2 py-minor-xs3 text-xs">color-opacity-90</span>
    </div>
    <div class="py-base bg-alt-base-100 color-opacity-80 flex-1 items-center justify-center flex">
        <span class="font-mono rounded-sm px-xs2 py-minor-xs3 text-xs">color-opacity-80</span>
    </div>
    <div class="py-base bg-alt-base-100 color-opacity-70 flex-1 items-center justify-center flex">
        <span class="font-mono rounded-sm px-xs2 py-minor-xs3 text-xs">color-opacity-70</span>
    </div>
    <div class="py-base bg-alt-base-100 color-opacity-60 flex-1 items-center justify-center flex">
        <span class="font-mono rounded-sm px-xs2 py-minor-xs3 text-xs">color-opacity-60</span>
    </div>
    <div class="py-base bg-alt-base-100 color-opacity-50 flex-1 items-center justify-center flex">
        <span class="font-mono rounded-sm px-xs2 py-minor-xs3 text-xs">color-opacity-50</span>
    </div>
</div>

<h3 class="mt-sm">Color tint</h3>
<p>Color tint adds a linear gradient with two semitransparent white color stops</p>
<div
    class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm flex flex-col gap-base overflow-auto">
    &lt;div class="tint-{opacity} ..."/>
    <div>
        <pre class="whitespace-pre">.tint-30 {</pre>
        <pre
            class="whitespace-pre">    background-image: linear-gradient(180deg, hsla(0deg 0% 100% / 30%), hsla(0deg 0% 100% / 30%));</pre>
        <pre class="whitespace-pre">}</pre>
    </div>
</div>

<div class="flex flex-row flex-1 rounded overflow-hidden">
    <div class="py-base bg-accent-purple-400 tint-10 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">tint-10</span>
    </div>
    <div class="py-base bg-accent-purple-400 tint-20 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">tint-20</span>
    </div>
    <div class="py-base bg-accent-purple-400 tint-30 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">tint-30</span>
    </div>
    <div class="py-base bg-accent-purple-400 tint-40 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">tint-40</span>
    </div>
    <div class="py-base bg-accent-purple-400 tint-50 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">tint-50</span>
    </div>
</div>
<h4 class=" mt-sm">Background Blend Mode</h4>
<div class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm">
    &lt;div class="tint-{opacity} bg-blend-overlay ..." />
</div>
<div class="flex flex-row flex-1 rounded overflow-hidden">
    <div
        class="py-base bg-accent-purple-400 bg-blend-overlay tint-10 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">tint-10</span>
    </div>
    <div
        class="py-base bg-accent-purple-400 bg-blend-overlay tint-20 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">tint-20</span>
    </div>
    <div
        class="py-base bg-accent-purple-400 bg-blend-overlay tint-30 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">tint-30</span>
    </div>
    <div
        class="py-base bg-accent-purple-400 bg-blend-overlay tint-40 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">tint-40</span>
    </div>
    <div
        class="py-base bg-accent-purple-400 bg-blend-overlay tint-50 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">tint-50</span>
    </div>
</div>
<h3 class="mt-sm">Color shade</h3>
<p>Color shade adds a linear gradient with two semitransparent black color stops</p>
<div
    class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm flex flex-col gap-base overflow-auto">
    &lt;div class="shade-{opacity} ..." />
    <div>
        <pre class="whitespace-pre">.tint-30 {</pre>
        <pre
            class="whitespace-pre">    background-image: linear-gradient(180deg, hsla(0deg 0% 100% / 30%), hsla(0deg 0% 100% / 30%));</pre>
        <pre class="whitespace-pre">}</pre>
    </div>
</div>
<div class="flex flex-row flex-1 rounded overflow-hidden">
    <div class="py-base bg-accent-green-400 shade-10 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">shade-10</span>
    </div>
    <div class="py-base bg-accent-green-400 shade-20 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">shade-20</span>
    </div>
    <div class="py-base bg-accent-green-400 shade-30 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">shade-30</span>
    </div>
    <div class="py-base bg-accent-green-400 shade-40 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">shade-40</span>
    </div>
    <div class="py-base bg-accent-green-400 shade-50 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">shade-50</span>
    </div>
</div>
<h4 class=" mt-sm">Background Blend Mode</h4>
<div class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm">
    &lt;div class="tint-{opacity} bg-blend-overlay ..." />
</div>
<div class="flex flex-row flex-1 rounded overflow-hidden">
    <div
        class="py-base bg-accent-green-400 bg-blend-overlay shade-10 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">shade-10</span>
    </div>
    <div
        class="py-base bg-accent-green-400 bg-blend-overlay shade-20 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">shade-20</span>
    </div>
    <div
        class="py-base bg-accent-green-400 bg-blend-overlay shade-30 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">shade-30</span>
    </div>
    <div
        class="py-base bg-accent-green-400 bg-blend-overlay shade-40 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">shade-40</span>
    </div>
    <div
        class="py-base bg-accent-green-400 bg-blend-overlay shade-50 flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">shade-50</span>
    </div>
</div>