<h3 class="text-xl font-bold ">Install packages</h3>


{% include code-block-start.html %}
{% highlight console %}
npm i -D source-foundation-cli
npm i -D source-tailwindcss
{% endhighlight %}
{% include code-block-end.html %}


<h3 class="text-xl font-bold mt-sm">Create source.config.json</h3>
{% include code-block-start.html %}
{% highlight console %}
npx source-css init
{% endhighlight %}
{% include code-block-end.html %}
<div>
    Create your
    <code>./source.config.json</code>
    This file lists all the parameters to generate color palettes, typography, radii and spacing tokens
</div>

<h3 class="text-xl font-bold mt-sm">Create CSS variables</h3>
<div>
    Now you need add CSS file with custom properties. You can either build from your custom
    <code>./source.config.json</code>
    Or you can use defauls from
    <code>source-tailwindcss/source-variables.css</code>
</div>
<div class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm ">
    <pre class="block whitespace-pre">npx source-css ./css/variables.css</pre>
</div>
<div>
    This command will read your
    <code>./source.config.json</code>
    and ouput CSS variables into the CSS file
</div>

<h3 class="text-xl font-bold mt-sm">Import CSS variables</h3>
{% include code-block-start.html caption="main.css" %}
{% highlight css %}
@import "./css/variables.css";
...
@tailwind base;
@tailwind components;
@tailwind utilities;
{% endhighlight %}

{% include code-block-end.html %}

{% include code-block-start.html caption="tailwind.config.js" %}
{% highlight js %}
module.exports = {
theme: { },
...
presets: [
require('source-tailwindcss')
]
}
{% endhighlight %}

{% include code-block-end.html %}

<h3 class="text-xl font-bold mt-sm">Configure TailwindCSS</h3>
<h4 class="text-lg font-bold">Option 1. Import preset</h4>
<p>
    <a href="https://github.com/namad/source-tw-playground/blob/main/src/source-preset.js" target="_blank">Source
        Preset</a> brings all bits together in the most simple way
</p>
{% include code-block-start.html caption="tailwind.config.js" %}
{% highlight js %}
module.exports = {
theme: Object,
...
presets: [
require('source-tailwindcss')
]
}
{% endhighlight %}
{% include code-block-end.html %}

{% include code-block-start.html caption="node_moduiles/source-tailwindcss/source-preset.js" %}
{% highlight js %}
module.exports = {
theme: Object,
colors: [
//...
primary-600": "var(--primary-600)",
fill-base-600": var(--fill-base-600)",
text-base-600": "var(--text-base-600)",
//...
]
}
{% endhighlight %}
{% include code-block-end.html %}

<div class="flex flex-row gap-base">
    <a href="https://tailwindcss.com/docs/presets" target="_blank">TailwindCSS Presets →</a>
</div>
<h4 class="text-lg font-bold mt-sm">Option 2. Use theme</h4>
<p>
    Theme gives you more control over plugins, but somehow it compromises Tailwind CSS IntelliSense
</p>
<a href="https://tailwindcss.com/docs/theme" target="_blank">TailwindCSS Themes →</a>
{% include code-block-start.html caption="node_moduiles/source-tailwindcss/source-preset.js" %}
{% highlight js %}
module.exports = {
theme: require('source-tailwindcss/source-theme'),
plugins: [
require('source-tailwindcss/plugins/border'),
require('source-tailwindcss/plugins/colors'),
require('source-tailwindcss/plugins/components'),
require('source-tailwindcss/plugins/elevation'),
require('source-tailwindcss/plugins/gradients'),
require('source-tailwindcss/plugins/icons'),
require('source-tailwindcss/plugins/padding')
]
}
{% endhighlight %}
{% include code-block-end.html %}
<p>
    Now you shuld be able to run your build normally
</p>