<h3 class="text-xl font-bold ">Gradient Tint</h3>
<div class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm">
    &lt;div class="gradient-tint-{opacity} gradient-angle-{angle} ..."&gt;
</div>

<p class="text-base ">
    Tint gradient makes a gradient on top of any color using
    <span class="text-sm font-mono bg-alt-base-200 rounded-sm px-xs2 py-minor-xs3">
        background-blend-mode: overlay
    </span>
    By default it creates tint on top of the surface, you can change graient andgle with
    <span class="text-sm font-mono bg-alt-base-200 rounded-sm px-xs2 py-minor-xs3">
        gradient-angle
    </span>
</p>

<p class="text-base ">Examples below demonstrate <span
        class="text-sm font-mono bg-alt-base-200 rounded-sm px-xs2 py-minor-xs3">gradient-tint-50</span> on
    top of
    different accents</p>

<div class="flex flex-row flex-1 flex-wrap gap-base ">
    <div
        class="min-w-fit px-sm py-base bg-accent-green-400 gradient-tint-50 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-180</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-teal-400 gradient-tint-50 gradient-angle-135 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-135</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-blue-400 gradient-tint-50 gradient-angle-90 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-90</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-indigo-400 gradient-tint-50 gradient-angle-45 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-45</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-purple-400 gradient-tint-50 gradient-angle-0 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-0</span>
    </div>
</div>

<h3 class="text-xl font-bold mt-sm">Gradient Shade</h3>
<div class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm">
    &lt;div class="gradient-shade-{opacity} gradient-angle-{angle} ..." />
</div>
<p class="text-base ">There is another utility that shades part of the surface</p>
<p class="text-base ">Examples below demonstrate <span
        class="text-sm font-mono bg-alt-base-200 rounded-sm px-xs2 py-minor-xs3">gradient-shade-50</span> on
    top of
    different accents</p>
<div class="flex flex-row flex-1 flex-wrap gap-md ">
    <div
        class="min-w-fit px-sm py-base bg-accent-green-400 gradient-shade-50 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-0</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-teal-400 gradient-shade-50 gradient-angle-45 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-45</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-blue-400 gradient-shade-50 gradient-angle-90 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-90</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-indigo-400 gradient-shade-50 gradient-angle-135 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-135</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-purple-400 gradient-shade-50 gradient-angle-180 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-180</span>
    </div>
</div>

<h3 class="text-xl font-bold mt-sm">Gradient Mix</h3>
<div class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm">
    &lt;div class="gradient-mix-{color} gradient-angle-{angle} ..." />
</div>
<p class="text-base ">This utility makes a gradient using specific color. Examples below demonstrate the mix
    of two accents</p>
<div class="flex flex-row flex-1 flex-wrap gap-md ">
    <div
        class="min-w-fit px-sm py-base bg-accent-green-400 gradient-mix-accent-amber-300 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-0</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-teal-400 gradient-mix-accent-purple-300 gradient-angle-45 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-45</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-blue-400 gradient-mix-accent-pink-300 gradient-angle-90 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-90</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-indigo-400 gradient-mix-accent-red-300 gradient-angle-135 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-135</span>
    </div>
    <div
        class="min-w-fit px-sm py-base bg-accent-purple-400 gradient-mix-accent-indigo-300 gradient-angle-180 rounded-md flex-1 items-center justify-center flex">
        <span
            class="font-mono color-text-contrast-500 rounded-sm px-xs2 py-minor-xs3 text-xs">gradient-angle-180</span>
    </div>
</div>

<p class="text-base ">Also you can use them with icons</p>
<div class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm">
    &lt;span class="icon icon-{icon} color-{color} gradient-mix-{color} gradient-angle-{angle}
    gradient-tint-{opacity} ..." />
</div>
<div class="flex flex-row gap-md flex-wrap">
    <span
        class="icon icon-xl icon-user color-accent-green-300 gradient-mix-accent-blue-300 gradient-angle-135"></span>
    <span
        class="icon icon-xl icon-activity color-accent-red-300 gradient-mix-accent-indigo-300 gradient-angle-135"></span>
    <span
        class="icon icon-xl icon-cpu color-accent-green-300 gradient-mix-accent-purple-300 gradient-angle-135"></span>
    <span
        class="icon icon-xl icon-anchor color-accent-blue-300 gradient-mix-accent-violet-300 gradient-angle-135"></span>
    <span
        class="icon icon-xl icon-chrome color-accent-amber-300 gradient-mix-accent-pink-300 gradient-angle-135"></span>
    <span
        class="icon icon-xl icon-cup color-accent-teal-300 gradient-mix-accent-purple-300 gradient-angle-135"></span>
    <span
        class="icon icon-xl icon-upload-cloud color-accent-pink-300 gradient-mix-accent-violet-300 gradient-angle-135"></span>
</div>