<div class="icons-grid" id="iconSizeGrid">
    <div class="icon-frame rounded px-sm py-sm flex flex-col bg-alt-base-100 gap-2 items-center justify-center overflow-hidden hover:bg-fill-base-100 hover:shadow-3">
        <span class="opacity-90 flex-1 icon icon-sm icon-monitor"></span>
        <span class="text-xs text-center font-mono color-text-base-500 whitespace-nowrap text-ellipsis overflow-hidden">
            --icon-size-sm
        </span>
    </div>
    <div class="icon-frame rounded px-sm py-sm flex flex-col bg-alt-base-100 gap-2 items-center justify-center overflow-hidden hover:bg-fill-base-100 hover:shadow-3">
        <span class="opacity-90 flex-1 icon icon-base icon-monitor"></span>
        <span class="text-xs text-center font-mono color-text-base-500 whitespace-nowrap text-ellipsis overflow-hidden">
            --icon-size-base
        </span>
    </div>
    <div class="icon-frame rounded px-sm py-sm flex flex-col bg-alt-base-100 gap-2 items-center justify-center overflow-hidden hover:bg-fill-base-100 hover:shadow-3">
        <span class="opacity-90 flex-1 icon icon-md icon-monitor"></span>
        <span class="text-xs text-center font-mono color-text-base-500 whitespace-nowrap text-ellipsis overflow-hidden">
            --icon-size-md
        </span>
    </div>
    <div class="icon-frame rounded px-sm py-sm flex flex-col bg-alt-base-100 gap-2 items-center justify-center overflow-hidden hover:bg-fill-base-100 hover:shadow-3">
        <span class="opacity-90 flex-1 icon icon-lg icon-monitor"></span>
        <span class="text-xs text-center font-mono color-text-base-500 whitespace-nowrap text-ellipsis overflow-hidden">
            --icon-size-lg
        </span>
    </div>

    <div class="icon-frame rounded px-sm py-sm flex flex-col bg-alt-base-100 gap-2 items-center justify-center overflow-hidden hover:bg-fill-base-100 hover:shadow-3">
        <span class="opacity-90 flex-1 icon icon-xl icon-monitor"></span>
        <span class="text-xs text-center font-mono color-text-base-500 whitespace-nowrap text-ellipsis overflow-hidden">
            --icon-size-xl
        </span>
    </div>
    <div class="icon-frame rounded px-sm py-sm flex flex-col bg-alt-base-100 gap-2 items-center justify-center overflow-hidden hover:bg-fill-base-100 hover:shadow-3">
        <span class="opacity-90 flex-1 icon icon-xl2 icon-monitor"></span>
        <span class="text-xs text-center font-mono color-text-base-500 whitespace-nowrap text-ellipsis overflow-hidden">
            --icon-size-xl2
        </span>
    </div>
    <div class="icon-frame rounded px-sm py-sm flex flex-col bg-alt-base-100 gap-2 items-center justify-center overflow-hidden hover:bg-fill-base-100 hover:shadow-3">
        <span class="opacity-90 flex-1 icon icon-xl3 icon-monitor"></span>
        <span class="text-xs text-center font-mono color-text-base-500 whitespace-nowrap text-ellipsis overflow-hidden">
            --icon-size-xl3
        </span>
    </div>
    <div class="icon-frame rounded px-sm py-sm flex flex-col bg-alt-base-100 gap-2 items-center justify-center overflow-hidden hover:bg-fill-base-100 hover:shadow-3">
        <span class="opacity-90 flex-1 icon icon-xl4 icon-monitor"></span>
        <span class="text-xs text-center font-mono color-text-base-500 whitespace-nowrap text-ellipsis overflow-hidden">
            --icon-size-xl4
        </span>
    </div>
</div>
<div class="icon-frame rounded px-sm py-sm flex flex-col bg-alt-base-100 gap-2 items-center justify-center overflow-hidden hover:bg-fill-base-100 hover:shadow-3">
    <span class="opacity-90 flex-1 icon icon-xl5 icon-monitor"></span>
    <span class="text-xs text-center font-mono color-text-base-500 whitespace-nowrap text-ellipsis overflow-hidden">
        --icon-size-xl5
    </span>
</div>