<p>
    Icon set is based on <a href="https://feathericons.com/" target="_blank">Feather Icons</a>, popular and
    well recognised style. It was refined for lower DPI screens and extended with filled variant
</p>
<div class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm">
    &lt;span class="icon icon-{name} icon-{size}..." />
</div>

<h3 class="mt-sm">Sizes</h3>
{% include home/icon-sizes.html %}

<h3 class="mt-sm">Names</h3>
<div class="font-mono bg-alt-base-200 rounded px-base py-minor-base text-sm">
    &lt;span class="icon icon-md icon-{name}..." />
</div>
{% include home/icon-names.html %}