<div class="icons-grid font-mono text-xs flex-1">
    <div class="radii-box flex flex-col gap-minor-sm"> 
        <div class="rounded-none bg-accent-pink-300 h-24"></div>
        <div class="text-center">--radii-none</div>
    </div>
    <div class="radii-box flex flex-col gap-minor-sm">
        <div class="rounded-sm bg-accent-pink-300 h-24"></div>
        <div class="text-center">--radii-sm</div>
    </div>
    <div class="radii-box flex flex-col gap-minor-sm">
        <div class="rounded bg-accent-pink-300 h h-24"></div>
        <div class="text-center">--radii-base</div>
    </div>
    <div class="radii-box flex flex-col gap-minor-sm">
        <div class="rounded-md bg-accent-pink-300 h-24"></div>
        <div class="text-center">--radii-md</div>
    </div>
    <div class="radii-box flex flex-col gap-minor-sm">
        <div class="rounded-lg bg-accent-pink-300 h-24"></div>
        <div class="text-center">--radii-lg</div>
    </div>
    <div class="radii-box flex flex-col gap-minor-sm">
        <div class="rounded-xl bg-accent-pink-300 h-24"></div>
        <div class="text-center">--radii-xl</div>
    </div>
    <div class="radii-box flex flex-col gap-minor-sm">
        <div class="rounded-xl2 bg-accent-pink-300 h-24"></div>
        <div class="text-center">--radii-xl2</div>
    </div>
    <div class="radii-box flex flex-col gap-minor-sm">
        <div class="rounded-round bg-accent-pink-300 h-24"></div>
        <div class="text-center">--radii-round</div>
    </div>

</div>