<div class="flex flex-row flex-wrap gap-md">
    <div class="min-w-[320px] flex flex-col gap-sm font-mono text-xs flex-1">
        <div class="flex-1 font-sans text-base">
            Primary spacing scale. Use for evenly spaced containers or pair with minor value for optically balanced results
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-xs4</div>
            <div class="w-xs4 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-xs3</div>
            <div class="w-xs3 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-xs2</div>
            <div class="w-xs2 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-xs</div>
            <div class="w-xs rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-sm</div>
            <div class="w-sm rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-base</div>
            <div class="w-base rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-md</div>
            <div class="w-md rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-lg</div>
            <div class="w-lg rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-xl</div>
            <div class="w-xl rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-xl2</div>
            <div class="w-xl2 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-xl3</div>
            <div class="w-xl3 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-xl4</div>
            <div class="w-xl4 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-xl5</div>
            <div class="w-xl5 rounded-sm bg-primary-300 h-6"></div>
        </div>
    </div>

    <div class="min-w-[320px] flex flex-col gap-sm font-mono text-xs flex-1">
        <div class="flex-1 font-sans text-base">
            Additional spacing scale. Use for vertical spacing and pair with primary value for optically balanced results
        </div>

        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-xs4</div>
            <div class="w-minor-xs4 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-xs3</div>
            <div class="w-minor-xs3 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-xs2</div>
            <div class="w-minor-xs2 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-xs</div>
            <div class="w-minor-xs rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-sm</div>
            <div class="w-minor-sm rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-base</div>
            <div class="w-minor-base rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-md</div>
            <div class="w-minor-md rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-lg</div>
            <div class="w-minor-lg rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-xl</div>
            <div class="w-minor-xl rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-xl2</div>
            <div class="w-minor-xl2 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-xl3</div>
            <div class="w-minor-xl3 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-xl4</div>
            <div class="w-minor-xl4 rounded-sm bg-primary-300 h-6"></div>
        </div>
        <hr class="border-alt-base-300">
        <div class="flex flex-row flex-1 items-center">
            <div class="w-1/3">--spacing-minor-xl5</div>
            <div class="w-minor-xl5 rounded-sm bg-primary-300 h-6"></div>
        </div>
    </div>
</div>