<div class="flex flex-col gap-sm text-xs flex-1 overflow-hidden w-[100%]">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-xs2 / --line-height-xs2</div>
        <div class="text-xs2 w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick
            brown fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-xs / --line-height-xs</div>
        <div class="text-xs w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick brown
            fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-sm / --line-height-sm</div>
        <div class="text-sm w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick brown
            fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-base / --line-height-base</div>
        <div class="text-base w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick
            brown fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-md / --line-height-md</div>
        <div class="text-md w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick brown
            fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-lg / --line-height-lg</div>
        <div class="text-lg w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick brown
            fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-xl / --line-height-xl</div>
        <div class="text-xl w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick brown
            fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-xl2 / --line-height-xl2</div>
        <div class="text-xl2 w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick
            brown fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-xl3 / --line-height-xl3</div>
        <div class="text-xl3 w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick
            brown fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-xl4 / --line-height-xl4</div>
        <div class="text-xl4 w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick
            brown fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-xl5 / --line-height-xl5</div>
        <div class="text-xl5 w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick
            brown fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-xl6 / --line-height-xl6</div>
        <div class="text-xl6 w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick
            brown fox jumps over the lazy dog</div>
    </div>
    <hr class="border-alt-base-300">
    <div class="flex flex-col w-[100%] overflow-hidden items-start gap-minor-xs">
        <div class="size-height color-text-base-500 font-mono">--font-size-xl7 / --line-height-xl7</div>
        <div class="text-xl7 w-5/6 overflow-hidden text-ellipsis whitespace-nowrap">Quick
            brown fox jumps over the lazy dog</div>
    </div>
</div>