[data-typescale=major-third][data-typography=compact], .typography-compact {
    --font-size-xs2: 9px;
    --font-size-xs: 10px;
    --font-size-sm: 11px;
    --font-size-base: 13px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 25px;
    --font-size-xl2: 32px;
    --font-size-xl3: 40px;
    --font-size-xl4: 50px;
    --font-size-xl5: 62px;
    --font-size-xl6: 77px;
    --font-size-xl7: 97px;
    --line-height-xs2: 10px;
    --line-height-xs: 12px;
    --line-height-sm: 14px;
    --line-height-base: 16px;
    --line-height-md: 20px;
    --line-height-lg: 24px;
    --line-height-xl: 32px;
    --line-height-xl2: 36px;
    --line-height-xl3: 48px;
    --line-height-xl4: 56px;
    --line-height-xl5: 64px;
    --line-height-xl6: 84px;
    --line-height-xl7: 106px;
    --paragraph-spacing-label: 8px;
    --paragraph-spacing-paragraph: 12px;
    --paragraph-spacing-display: 16px;
}
[data-typescale=major-third][data-typography=base], .typography-base {
    --font-size-xs2: 9px;
    --font-size-xs: 11px;
    --font-size-sm: 13px;
    --font-size-base: 15px;
    --font-size-md: 19px;
    --font-size-lg: 23px;
    --font-size-xl: 29px;
    --font-size-xl2: 37px;
    --font-size-xl3: 46px;
    --font-size-xl4: 57px;
    --font-size-xl5: 72px;
    --font-size-xl6: 89px;
    --font-size-xl7: 112px;
    --line-height-xs2: 12px;
    --line-height-xs: 14px;
    --line-height-sm: 16px;
    --line-height-base: 20px;
    --line-height-md: 24px;
    --line-height-lg: 28px;
    --line-height-xl: 36px;
    --line-height-xl2: 44px;
    --line-height-xl3: 56px;
    --line-height-xl4: 64px;
    --line-height-xl5: 80px;
    --line-height-xl6: 100px;
    --line-height-xl7: 124px;
    --paragraph-spacing-label: 12px;
    --paragraph-spacing-paragraph: 16px;
    --paragraph-spacing-display: 20px;
}
[data-typescale=major-third][data-typography=large], .typography-large {
    --font-size-xs2: 9px;
    --font-size-xs: 11px;
    --font-size-sm: 14px;
    --font-size-base: 17px;
    --font-size-md: 21px;
    --font-size-lg: 27px;
    --font-size-xl: 33px;
    --font-size-xl2: 42px;
    --font-size-xl3: 52px;
    --font-size-xl4: 65px;
    --font-size-xl5: 81px;
    --font-size-xl6: 101px;
    --font-size-xl7: 127px;
    --line-height-xs2: 12px;
    --line-height-xs: 16px;
    --line-height-sm: 20px;
    --line-height-base: 24px;
    --line-height-md: 28px;
    --line-height-lg: 32px;
    --line-height-xl: 40px;
    --line-height-xl2: 48px;
    --line-height-xl3: 60px;
    --line-height-xl4: 72px;
    --line-height-xl5: 88px;
    --line-height-xl6: 112px;
    --line-height-xl7: 140px;
    --paragraph-spacing-label: 12px;
    --paragraph-spacing-paragraph: 16px;
    --paragraph-spacing-display: 20px;
}
