[data-typescale=minor-third][data-typography=compact], .typography-compact {
    --font-size-xs2: 10px;
    --font-size-xs: 11px;
    --font-size-sm: 12px;
    --font-size-base: 13px;
    --font-size-md: 16px;
    --font-size-lg: 19px;
    --font-size-xl: 22px;
    --font-size-xl2: 27px;
    --font-size-xl3: 32px;
    --font-size-xl4: 39px;
    --font-size-xl5: 47px;
    --font-size-xl6: 56px;
    --font-size-xl7: 67px;
    --line-height-xs2: 10px;
    --line-height-xs: 12px;
    --line-height-sm: 14px;
    --line-height-base: 16px;
    --line-height-md: 20px;
    --line-height-lg: 24px;
    --line-height-xl: 28px;
    --line-height-xl2: 32px;
    --line-height-xl3: 40px;
    --line-height-xl4: 44px;
    --line-height-xl5: 52px;
    --line-height-xl6: 60px;
    --line-height-xl7: 78px;
    --paragraph-spacing-label: 8px;
    --paragraph-spacing-paragraph: 12px;
    --paragraph-spacing-display: 16px;
}
[data-typescale=minor-third][data-typography=base], .typography-base {
    --font-size-xs2: 10px;
    --font-size-xs: 11px;
    --font-size-sm: 12px;
    --font-size-base: 15px;
    --font-size-md: 18px;
    --font-size-lg: 22px;
    --font-size-xl: 26px;
    --font-size-xl2: 31px;
    --font-size-xl3: 37px;
    --font-size-xl4: 45px;
    --font-size-xl5: 54px;
    --font-size-xl6: 64px;
    --font-size-xl7: 77px;
    --line-height-xs2: 12px;
    --line-height-xs: 14px;
    --line-height-sm: 16px;
    --line-height-base: 20px;
    --line-height-md: 24px;
    --line-height-lg: 28px;
    --line-height-xl: 32px;
    --line-height-xl2: 36px;
    --line-height-xl3: 44px;
    --line-height-xl4: 48px;
    --line-height-xl5: 60px;
    --line-height-xl6: 72px;
    --line-height-xl7: 86px;
    --paragraph-spacing-label: 12px;
    --paragraph-spacing-paragraph: 16px;
    --paragraph-spacing-display: 20px;
}
[data-typescale=minor-third][data-typography=large], .typography-large {
    --font-size-xs2: 11px;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-base: 17px;
    --font-size-md: 20px;
    --font-size-lg: 24px;
    --font-size-xl: 29px;
    --font-size-xl2: 35px;
    --font-size-xl3: 42px;
    --font-size-xl4: 51px;
    --font-size-xl5: 61px;
    --font-size-xl6: 73px;
    --font-size-xl7: 88px;
    --line-height-xs2: 12px;
    --line-height-xs: 16px;
    --line-height-sm: 20px;
    --line-height-base: 24px;
    --line-height-md: 28px;
    --line-height-lg: 32px;
    --line-height-xl: 34px;
    --line-height-xl2: 40px;
    --line-height-xl3: 52px;
    --line-height-xl4: 56px;
    --line-height-xl5: 68px;
    --line-height-xl6: 80px;
    --line-height-xl7: 96px;
    --paragraph-spacing-label: 12px;
    --paragraph-spacing-paragraph: 16px;
    --paragraph-spacing-display: 20px;
}
